<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P4QDSC');</script>
  <!-- End Google Tag Manager -->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Ipsum - random JavaScript text generator</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4QDSC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header>
    <h1 class="header-title">JS Ipsum</h1>
    <h2 class="header-subtitle"> Generate your own JS gibberish</h2>
    <div class="header-image"></div>
  </header>

  <div class="l-main-wrapper">

    <section>
      <form>
        <fieldset class="length-filter-box">
          <legend>Choose the text length:</legend>
          <input id="short" type="radio" name="text-length" value="short" class="length-filter-input">
          <label for="short" class="length-filter-label">short</label>
          <input id="medium" type="radio" name="text-length" value="medium" class="length-filter-input" checked="checked">
          <label for="medium" class="length-filter-label">medium</label>
          <input id="long" type="radio" name="text-length" value="long" class="length-filter-input">
          <label for="long" class="length-filter-label">long</label>
        </fieldset>

        <button type="button" id="reloadButton" class="btn-reload">
          <span class="visually-hidden">Reload</span>
          <i aria-hidden="true" class="btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z"/></svg>
          </i>
        </button>
      </form>
      <div id="output" class="output-box" role="region" aria-live="polite"><%= @generated %>
      </div>
    </section>
  </div>
  <footer role="contentinfo">
    <p>
      JS Ipsum is brought to you by <a href="http://lunarlogic.io">Lunar Logic</a>. If you are interested in creating a React/Ruby project, <a href="http://www.lunarlogic.io/#contact">contact us</a>.
    </p>
  </footer>
</body>


<script>
  $('#reloadButton').click(function(){
    jQuery("#output").load('/?text-length=' + $('.length-filter-input:checked').val());
  });

  $('#short').click(function(){
    jQuery("#output").load('/?text-length=short');
  });

  $('#medium').click(function(){
    jQuery("#output").load('/?text-length=medium');
  });

  $('#long').click(function(){
    jQuery("#output").load('/?text-length=long');
  });
</script>
