<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Ipsum - random JavaScript text generator</title>

  <link rel="stylesheet" href="assets/style.css"/>
</head>

<body>
  <h1>Hello Ipsum!</h1>

  <section>
    <h2> Generate your own JS gibberish</h2>
    <form>
      <fieldset>
        <legend>Choose the text length:</legend>
        <input id="short" type="radio" name="text-length" value="short">
        <label for="short">short</label><br>
        <input id="medium" type="radio" name="text-length" value="medium">
        <label for="medium">medium</label><br>
        <input id="long" type="radio" name="text-length" value="long">
        <label for="long">long</label>
      </fieldset>

      <button type="submit">Reload</button>
    </form>

    <h2> Your generated text</h2>
    <div role="region" aria-live="polite">
      Generated text goes here.
    </div>
  </section>
</body>