<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P4QDSC');</script>
  <!-- End Google Tag Manager -->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Ipsum - The JavaScript Lorem Ipsum Generator</title>
  <meta name="description" content="JavaScript is everywhere, now you can put it in your mockups.">

  <meta property="og:title" content="JS Ipsum - Generate your own JS gibberish">
  <meta property="og:description" content="JavaScript is everywhere, now you can put it in your mockups.">
  <meta property="og:image" content="http://jsipsum.lunarlogic.io/images/javascript-lorem-ipsum-generator.png">
  <meta property="og:url" content="http://jsipsum.lunarlogic.io/">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:site_name" content="JS Ipsum by Lunar Logic">
  <meta name="twitter:image:alt" content="Generate Javascript Lorem Ipsum text with JS Ipsum">
  <meta name="twitter:site" content="@Lunar_Logic">

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/favicon-57.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/favicon-152.png">

  <link rel="shortcut icon" href="images/favicons/favicon.ico">

  <link rel="stylesheet" href="/style.css"/>


  <link rel="canonical" href="http://jsipsum.lunarlogic.io/" />”
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4QDSC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <a href="https://github.com/LunarLogic/js-ipsum" class="github-corner">
    <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#642C8F; color:#FFF9F5; position: absolute; top: 0; border: 0; right: 0;">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
      <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
    </svg>
  </a>
  <header>
    <h1 class="header-title">JS Ipsum</h1>
    <h2 class="header-subtitle">Generate your own JS gibberish</h2>
    <div class="header-image"></div>
  </header>

  <div class="l-main-wrapper">

    <section class="main-content">
      <form>
        <fieldset class="length-filter-box">
          <legend>Choose the text length:</legend>
          <input id="short" type="radio" name="text-length" value="short" class="length-filter-input">
          <label for="short" class="length-filter-label">short</label>
          <input id="medium" type="radio" name="text-length" value="medium" class="length-filter-input" checked="checked">
          <label for="medium" class="length-filter-label">medium</label>
          <input id="long" type="radio" name="text-length" value="long" class="length-filter-input">
          <label for="long" class="length-filter-label">long</label>
        </fieldset>

        <button type="button" id="reloadButton" class="btn-icon" title="reload">
          <span class="visually-hidden">Reload</span>
          <i aria-hidden="true" class="btn-icon-inner">
            <svg id="reloadSVG" class="btn-icon-symbol" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z"/></svg>
          </i>
        </button>
        <button type="button" id="copyButton" data-clipboard-text= "<%= @generated %>" class="btn-icon" title="copy to clipboard">
          <span class="visually-hidden">Copy</span>
          <i aria-hidden="true" class="btn-icon-inner">
            <svg id="copySVG" class="btn-icon-symbol" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.143 13.244l.837-2.244 2.698 5.641-5.678 2.502.805-2.23s-8.055-3.538-7.708-10.913c2.715 5.938 9.046 7.244 9.046 7.244zm8.857-7.244v18h-18v-6h-6v-18h18v6h6zm-2 2h-12.112c-.562-.578-1.08-1.243-1.521-2h7.633v-4h-14v14h4v-3.124c.6.961 1.287 1.823 2 2.576v6.548h14v-14z"/></svg>
          </i>
        </button>

        <div class="sharing-btns">
          <!-- Sharingbutton Facebook -->
          <a class="resp-sharing-button__link" id="facebook-share" href="https://facebook.com/sharer/sharer.php?u=jsipsum.lunarlogic.io" target="_blank" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                  <g>
                      <path d="M18.768,7.465H14.5V5.56c0-0.896,0.594-1.105,1.012-1.105s2.988,0,2.988,0V0.513L14.171,0.5C10.244,0.5,9.5,3.438,9.5,5.32 v2.145h-3v4h3c0,5.212,0,12,0,12h5c0,0,0-6.85,0-12h3.851L18.768,7.465z"/>
                  </g>
              </svg>
              </div>
            </div>
          </a>

          <!-- Sharingbutton Twitter -->
          <a class="resp-sharing-button__link" id="twitter-share" href="https://twitter.com/intent/tweet/?text=JavaScript%20is%20everywhere%2C%20now%20put%20it%20in%20your%20mockups%20with%20JS%20Ipsum.%20%23JavaScript%20%40Lunar_Logic&amp;url=http%3A%2F%2Fjsipsum.lunarlogic.io" target="_blank" aria-label="">
            <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
              <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                  <g>
                      <path d="M23.444,4.834c-0.814,0.363-1.5,0.375-2.228,0.016c0.938-0.562,0.981-0.957,1.32-2.019c-0.878,0.521-1.851,0.9-2.886,1.104 C18.823,3.053,17.642,2.5,16.335,2.5c-2.51,0-4.544,2.036-4.544,4.544c0,0.356,0.04,0.703,0.117,1.036 C8.132,7.891,4.783,6.082,2.542,3.332C2.151,4.003,1.927,4.784,1.927,5.617c0,1.577,0.803,2.967,2.021,3.782 C3.203,9.375,2.503,9.171,1.891,8.831C1.89,8.85,1.89,8.868,1.89,8.888c0,2.202,1.566,4.038,3.646,4.456 c-0.666,0.181-1.368,0.209-2.053,0.079c0.579,1.804,2.257,3.118,4.245,3.155C5.783,18.102,3.372,18.737,1,18.459 C3.012,19.748,5.399,20.5,7.966,20.5c8.358,0,12.928-6.924,12.928-12.929c0-0.198-0.003-0.393-0.012-0.588 C21.769,6.343,22.835,5.746,23.444,4.834z"/>
                  </g>
              </svg>
              </div>
            </div>
          </a>

        </div>
      <div id="notification">
      </div>
      </form>
      <div id="output" class="output-box" role="region" aria-live="polite"><%= @generated %>
      </div>
    </section>


  </div>
  <footer role="contentinfo">
    <p>
      This is a <a href="http://www.lunarlogic.io/?utm_source=js-ipsum&utm_medium=projects" id="lunar-home">Lunar Logic</a> project. <a href="http://www.lunarlogic.io/?utm_source=js-ipsum&utm_medium=projects&utm_content=contact#contact" id="lunar-contact">Hire us</a> to help build your React/Rails app.
    </p>
  </footer>
</body>

<script src="javascripts/clipboard.js/dist/clipboard.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
  var clipboard = new Clipboard('#copyButton');

  $('#reloadButton').click(function(){
    generate_text($('.length-filter-input:checked').val());
  });

  $('#short').click(function(){
    generate_text("short");
  });

  $('#medium').click(function(){
    generate_text("medium");
  });

  $('#long').click(function(){
    generate_text("long");
  });

  function generate_text(len){
    $("#output").hide()
    jQuery.ajax({
        url: '/?text-length=' + len,
        success: function (result) {
            $("#copyButton").attr("data-clipboard-text", result);
            $("#output").text(result);
            $("#output").fadeIn('750');
        },
        async: false
    });
  }

  clipboard.on('success', function() {
    $("#notification").hide().fadeIn("fast").html('Gibberish copied to clipboard!');
    setTimeout(function() {
      $("#notification").fadeOut("fast");
    }, 1500 );

  });
</script>
