// sizes

$footer-height: 6rem;

//breakpoints

$small: 30em;
$medium: 70em;
$big: 90em;

//fonts

$font-primary: 'Amatic SC', sans-serif;
$font-secondary: 'Lato', 'Helvetica', sans-serif;

// colors
$dark: #800e32;
$main-accent: #ed145b;
$bg-primary: #ffffff;
$bg-secondary: #fff9f5;

// misc

$border-radius: 5px;
